
    <%- include("../layouts/header.ejs") %>
    <%- include("../layouts/sidebarAdmin.ejs") %>

    <main class="content">
        <div class="header-content">
            <h3>Data Kepala Lab</h3>
            <button class="button-tambah" onclick="openModalTambah()">Tambah Akun Kalab</button>
        </div>

        <div id="notification" style="display: none;"></div>

        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>NIP</th>
                    <th>Jenis Kelamin</th>
                    <th>Tanggal Lahir</th>
                    <th>No HP</th>
                    <th>Alamat</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= user.nama %></td>
                    <td><%= user.email %></td>
                    <td><%= user.nip %></td>
                    <td><%= user.jenis_kelamin %></td>
                    <td><%= user.tanggal_lahir %></td>
                    <td><%= user.no_hp %></td>
                    <td><%= user.alamat %></td> 
                    <td>
                        <div style="display: flex;">
                            <button class="button-edit" onclick="openModalEdit('<%= user.id %>')">Edit</button>
                            <form id="deleteKalabForm-<%= user.id %>" action="/admin/akunKalab/delete/<%= user.id %>" method="post" style="margin-left: 5px;">
                                <button class="button-hapus" onclick="return confirm('Apakah Anda yakin ingin menghapus akun Kalab ini?')">Hapus</button>
                            </form>
                        </div>
                    </td>
                    
                </tr>
                <% }); %>
            </tbody>
        </table>

    <div id="tambahModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModalTambah()">&times;</span>
            <h3 class="center-text">Tambah Akun Kalab Baru</h3>
            <form id="tambahAkunKalabForm" action="/admin/tambah-akun-kalab" method="post">
                <div class="form-row">
                    <div class="form-group form-group-half" >
                    <label for="nama">Nama:</label>
                    <input type="text" id="nama" name="nama" required oninput="validateTextInput(this)">
                    </div>

                    <div class="form-group form-group-half">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required oninput="validateEmailInput(this)">
                    </div>                       
                </div>
                
                <div class="form-row">                   
                    <div class="form-group form-group-half">
                        <label for="nip">NIP:</label>
                        <input type="text" id="nip" name="nip" required oninput="validateNumberInput(this)">
                    </div>
                    
                    <div class="form-group form-group-half">
                        <label for="no_hp">No HP:</label>
                        <input type="text" id="no_hp" name="no_hp" required oninput="validateNumberInput(this)">
                    </div>
                    

                </div>
                
                <div class="form-row">
                    <div class="form-group form-group-half">
                        <label for="jenis_kelamin">Jenis Kelamin:</label>
                        <select id="jenis_kelamin" name="jenis_kelamin" required>
                            <option value="" disabled selected>Jenis kelamin</option>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                    </div>
                    <div class="form-group form-group-half">
                        <label for="tanggal_lahir">Tanggal Lahir:</label>
                        <input type="date" id="tanggal_lahir" name="tanggal_lahir" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group form-group-half">
                        <label for="alamat">Alamat:</label>
                        <input type="text" id="alamat" name="alamat" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group form-group-half">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div> 
                    <div class="form-group form-group-half">
                        <label for="confirm_password">Konfirmasi Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password" required>
                    </div>  
                </div>
                <button type="submit">Tambah</button>
            </form>
        </div>
    </div>

    <div id="editModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModalEdit()">&times;</span>
            <h3 class="center-text">Edit Akun Kalab</h3>
            <form id="editAkunKalabForm" action="/admin/edit-akun-kalab" method="post">
                <div class="form-row">
                    <div class="form-group form-group-half" style="display: flex; flex-direction: column;">
                        <label for="editNama">Nama:</label>
                        <input type="text" id="editNama" name="nama" required oninput="validateTextInput(this)">
                    </div>

                    <div class="form-group form-group-half">
                        <label for="editEmail">Email:</label>
                        <input type="email" id="editEmail" name="email" required oninput="validateEmailInput(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group form-group-half">
                        <label for="editNIP">NIP:</label>
                        <input type="text" id="editNIP" name="nip" required oninput="validateNumberInput(this)">
                    </div>
                    
                    <div class="form-group form-group-half">
                        <label for="editNoHP">No HP:</label>
                        <input type="text" id="editNoHP" name="no_hp" required oninput="validateNumberInput(this)">
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group form-group-half" style="display: flex; flex-direction: column;">
                        <label for="editJenisKelamin">Jenis Kelamin:</label>
                        <select id="editJenisKelamin" name="jenis_kelamin" required>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                    </div> 

                    <div class="form-group form-group-half">
                        <label for="editAlamat">Alamat:</label>
                        <input type="text" id="editAlamat" name="alamat" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group form-group-half" style="display: flex; flex-direction: column;">
                        <label for="editTanggalLahir">Tanggal Lahir:</label>
                        <input type="date" id="editTanggalLahir" name="tanggal_lahir" required>
                    </div>
                </div>

                <button type="submitedit">Simpan</button>
            </form>
        </div>
    </div>

</main>

    <script>

        function validateTextInput(input) {
            input.value = input.value.replace(/[^a-zA-Z\s.,]/g, '');
        }

        function validateNumberInput(input) {
            input.value = input.value.replace(/[^0-9]/g, '');
        }

        function validateEmailInput(input) {
            const value = input.value;
            const validEmailPattern = /^[a-zA-Z0-9._%+-]+@gmail\.com$/;
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; 
            if (!emailPattern.test(value)) {
                input.setCustomValidity("Masukkan alamat email yang valid.");
            } else if (!validEmailPattern.test(value)) {
                input.setCustomValidity("Email harus berakhir dengan @gmail.com");
            } else {
                input.setCustomValidity("");
            }
        }
        function validateNumberInput(input) {
            input.value = input.value.replace(/[^0-9]/g, '');
        }

        function openModalTambah() {
            document.getElementById("tambahModal").style.display = "block";
        }

        function closeModalTambah() {
            document.getElementById("tambahModal").style.display = "none";
        }

        document.getElementById("tambahAkunKalabForm").addEventListener("submit", function(event) {
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirm_password").value;

            if (password !== confirmPassword) {
                alert("Password dan Konfirmasi Password tidak sesuai.");
                event.preventDefault();
            }
        });

        async function openModalEdit(id) {
    document.getElementById("editModal").style.display = "block";

    try {
        const response = await fetch(`/admin/edit-akun-kalab/${id}`);
        if (!response.ok) {
            throw new Error('Failed to fetch akun kalab data');
        }
        const userData = await response.json();
        console.log('User data:', userData);
        document.getElementById("editNama").value = userData.nama;
        document.getElementById("editNIP").value = userData.nip;
        document.getElementById("editJenisKelamin").value = userData.jenis_kelamin;
        document.getElementById("editTanggalLahir").value = userData.tanggal_lahir;
        document.getElementById("editNoHP").value = userData.no_hp;
        document.getElementById("editAlamat").value = userData.alamat;
        document.getElementById("editEmail").value = userData.email;
        document.getElementById("editAkunKalabForm").setAttribute("action", `/admin/edit-akun-kalab/${id}`);
    } catch (error) {
        console.error('Error fetching user data:', error);
        closeModalEdit();
    }
}

        function closeModalEdit() {
            document.getElementById("editModal").style.display = "none";
        }

        function showNotification(message) {
            const notification = document.getElementById('notification');
            notification.innerText = message;
            notification.style.display = 'block';
            notification.style.backgroundColor = '#f8d7da';
            notification.style.color = '#721c24'; 
            notification.style.padding = '10px';
            notification.style.margin = '10px 0';
            notification.style.borderRadius = '5px';
        }

        setTimeout(() => {
            notification.style.display = 'none';
        }, 5000);

        const urlParams = new URLSearchParams(window.location.search);
        const errorMessage = urlParams.get('error');
        if (errorMessage) {
            showNotification(errorMessage);
        }
    </script>

    <%- include("../layouts/footer.ejs") %>