
<%- include("../layouts/header.ejs") %>
<%- include("../layouts/sidebarAdmin.ejs") %>

<!-- ========== MAIN ========== -->
<main class="content">
    <div class="header-content">
        <h3>Daftar Laboratorium</h3>
        <button class="button-tambah" onclick="openModalTambah()">Tambah Lab</button>
    </div>

    <!-- Notifikasi -->
    <div id="notification" style="display: none;"></div>

    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Lab</th>
                <th>Kepala Lab</th>
                <th>Nama Kordas</th>
                <th>Jumlah Asisten</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <% labs.forEach((lab, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= lab.nama_lab %></td>
                <td><%= lab.nama_kepala %></td>
                <td><%= lab.nama_kordas %></td>
                <td><%= lab.jumlah_aslab %></td>
                <td>
                    <div style="display: inline-block;">
                        <button class="button-edit" onclick="openModalEdit('<%= lab.id %>')">Edit</button>
                        <form id="deleteLabForm-<%= lab.id %>" action="/admin/lab/delete/<%= lab.id %>" method="post" style="display: inline-block; margin-left: -5px;">
                            <button class="button-hapus" onclick="return confirm('Apakah Anda yakin ingin menghapus lab ini?')">Hapus</button>
                        </form>
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
        
    <!-- The Modal untuk Tambah Lab -->
    <div id="tambahModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModalTambah()">&times;</span>
            <h3 class="center-text">Tambah Lab Baru</h3>
            <form id="tambahLabForm" action="/admin/tambah-lab" method="post">
                <!-- Form tambah lab -->
                <div class="form-group">
                    <label for="kepalaLab">Kepala Lab:</label>
                        <select id="kepalaLab" name="kepalaLab" required>
                            <!-- Opsi untuk jenis lab dari data lab -->
                            <% users.forEach((user, index) => { %>
                                <option value="<%= user.nama %>">
                                    <%= user.nama %>
                                </option>
                            <% }); %>
                        </select> 
                </div>
                
                <label for="namaLab">Nama Lab:</label>
                <input type="text" id="namaLab" name="namaLab" required oninput="validateTextInput(this)">
                
                <div class="form-group">
                    <label for="namaKordas">Nama Kordas:</label>
                    <input type="text" id="namaKordas" name="namaKordas" required oninput="validateTextInput(this)">
                </div>
                
                <div class="form-group">
                    <label for="jumlahAsisten">Jumlah Asisten:</label>
                    <input type="number" id="jumlahAsisten" name="jumlahAsisten" min="1" step="1" required>
                </div>
                
                <button type="submit">Tambah</button>
            </form>
        </div>
    </div>

    <!-- The Modal untuk Edit Lab -->
    <div id="editModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModalEdit()">&times;</span>
            <h3 class="center-text">Edit Data Lab</h3>
            <form id="editLabForm" action="/admin/edit-lab" method="post">
                <!-- Form edit lab -->
                <label for="editKepalaLab">Kepala Lab:</label>
                <select id="editKepalaLab" name="kepalaLab" required>
                    <!-- Opsi untuk nama kepala dari data lab -->
                    <% users.forEach((user, index) => { %>
                        <option value="<%= user.nama %>">
                            <%= user.nama %>
                        </option>
                    <% }); %>
                </select>

                <label for="editNamaLab">Nama Lab:</label>
                <input type="text" id="editNamaLab" name="namaLab" required oninput="validateTextInput(this)">
                
                
                <label for="editNamaKordas">Nama Kordas:</label>
                <input type="text" id="editNamaKordas" name="namaKordas" required oninput="validateTextInput(this)">
                
                <label for="editJumlahAsisten">Jumlah Asisten:</label>
                <input type="number" id="editJumlahAsisten" name="jumlahAsisten" min="1" step="1" required>
                <button type="submitedit" id="editLabButton">Edit</button>
            </form>
        </div>
    </div>

</main>

    <script>

        function validateTextInput(input) {
            input.value = input.value.replace(/[^a-zA-Z\s.,]/g, '');
        }
        // Fungsi untuk membuka modal tambah lab
        function openModalTambah() {
            document.getElementById("tambahModal").style.display = "block";
        }

        // Fungsi untuk menutup modal tambah lab
        function closeModalTambah() {
            document.getElementById("tambahModal").style.display = "none";
        }

        // Fungsi untuk membuka modal edit lab dengan menampilkan data yang sesuai
        async function openModalEdit(id) {
        // Menampilkan modal edit
        document.getElementById("editModal").style.display = "block";

        try {
            // Mengambil data laboratorium dari server berdasarkan ID
            const response = await fetch(`/admin/edit-lab/${id}`);
            if (!response.ok) {
                throw new Error('Failed to fetch lab data');
            }
            const labData = await response.json();

            // Debug: Periksa data yang diterima dari server
            console.log('Lab data:', labData);

            // Mengisi nilai-nilai form edit dengan data laboratorium yang diterima
            document.getElementById("editNamaLab").value = labData.nama_lab;
            document.getElementById("editKepalaLab").value = labData.nama_kepala;
            document.getElementById("editNamaKordas").value = labData.nama_kordas;
            document.getElementById("editJumlahAsisten").value = labData.jumlah_aslab;

            // Lakukan pengaturan form edit lab sesuai dengan id yang diteruskan
            document.getElementById("editLabForm").setAttribute("action", `/admin/edit-lab/${id}`);
        } catch (error) {
            console.error('Error fetching lab data:', error);
            // Jika terjadi kesalahan dalam mengambil data laboratorium, tutup modal edit
            closeModalEdit();
        }
    }

        // Fungsi untuk menutup modal edit lab
        function closeModalEdit() {
            document.getElementById("editModal").style.display = "none";
        }

        // Fungsi untuk menampilkan notifikasi
        // Fungsi untuk menampilkan notifikasi
        function showNotification(message) {
            const notification = document.getElementById('notification');
            notification.innerText = message;
            notification.style.display = 'block';
            notification.style.backgroundColor = '#f8d7da'; // Warna latar belakang merah
            notification.style.color = '#721c24'; // Warna teks merah gelap
            notification.style.padding = '10px';
            notification.style.margin = '10px 0';
            notification.style.borderRadius = '5px';
        }

        // Sembunyikan notifikasi setelah 5 detik (5000 milidetik)
        setTimeout(() => {
            notification.style.display = 'none';
        }, 5000);

        // Cek parameter query untuk pesan kesalahan
        const urlParams = new URLSearchParams(window.location.search);
        const errorMessage = urlParams.get('error');
        if (errorMessage) {
            showNotification(errorMessage);
        }

    </script>
    <%- include("../layouts/footer.ejs") %>