<%- include("../layouts/header.ejs") %>
<%- include("../layouts/sidebarKalab.ejs") %>

    <main class="content">
        <div class="header-content">
            <h3>Data Aset <%= nama_lab %></h3>
            <button class="button-tambah" onclick="openModalTambah()">Tambah Aset</button>
        </div>

        <div id="notification" style="display: none;"></div>

        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Aset</th>
                    <th>Kategori</th>
                    <th>Jumlah</th>
                    <th>Spesifikasi</th>
                    <th>Foto</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <% dataasets.forEach((dataaset, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= dataaset.nama_aset %></td>
                    <td><%= dataaset.jenis_aset %></td>
                    <td><%= dataaset.jumlah %></td>
                    <td><%= dataaset.spesifikasi %></td>
                    <td><a href="/uploads/<%= dataaset.foto %>" target="_blank" style="color: blue;"><%= dataaset.nama_aset %></a></td>
                    <td>
                        <div style="display: inline-block;">
                            <button class="button-edit" onclick="openModalEdit('<%= dataaset.id %>')">Edit</button>
                            <form id="deleteDataasetForm-<%= dataaset.id %>" action="/kalab/dataaset/delete/<%= dataaset.id %>" method="post" style="display: inline-block; margin-left: -5px;">
                                <button class="button-hapus" onclick="return confirm('Apakah Anda yakin ingin menghapus dataaset ini?')">Hapus</button>
                            </form>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>

        <div id="tambahModal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close" onclick="closeModalTambah()">&times;</span>
                <h3 class="center-text">Tambah Data Aset Baru</h3>
                <form id="tambahDataasetForm" action="/kalab/tambah-dataaset" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="namaAset">Nama Aset:</label>
                        <input type="text" id="namaAset" name="namaAset" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="kategoriAset">Kategori:</label>
                        <input type="text" id="kategoriAset" name="kategoriAset" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="jumlahAset">Jumlah:</label>
                        <input type="number" id="jumlahAset" name="jumlahAset" min="1" step="1" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="spesifikasiAset">Spesifikasi:</label>
                        <input type="text" id="spesifikasiAset" name="spesifikasiAset" required>
                    </div>

                    <div class="form-group">
                        <label for="foto">Foto:</label>
                        <input type="file" id="foto" name="foto" required>
                    </div>
                    
                    <button type="submit">Tambah</button>
                </form>
            </div>
        </div>

        <div id="editModal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close" onclick="closeModalEdit()">&times;</span>
                <h3 class="center-text">Edit Data Aset</h3>
                <form id="editDataasetForm" action="/kalab/edit-dataaset" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="editNamaAset">Nama Aset:</label>
                        <input type="text" id="editNamaAset" name="namaAset" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="editKategori">Kategori:</label>
                        <input type="text" id="editKategori" name="kategoriAset" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="editJumlah">Jumlah:</label>
                        <input type="number" id="editJumlah" name="jumlahAset" min="1" step="1" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="editSpesifikasi">Spesifikasi:</label>
                        <input type="text" id="editSpesifikasi" name="spesifikasiAset" required>
                    </div>


                    <div class="form-group">
                        <label for="editFoto">Foto:</label>
                        <span id="editFotoFilename"></span>
                        <input type="file" id="editFoto" name="fotoAset">      
                    </div>
                    
                    <button type="submitedit" id="editDataasetButton">Edit</button>
                </form>
            </div>
        </div>
    </main>

    <%- include("../layouts/footer.ejs") %>

    <script>
        function openModalTambah() {
            document.getElementById("tambahModal").style.display = "block";
        }
        function closeModalTambah() {
            document.getElementById("tambahModal").style.display = "none";
        }
        async function openModalEdit(id) {
        try {
            const response = await fetch(`/kalab/edit-dataaset/${id}`);
            if (!response.ok) {
                throw new Error('Failed to fetch dataaset data');
            }
            const dataasetData = await response.json();
            console.log('Dataaset data:', dataasetData);
            document.getElementById("editNamaAset").value = dataasetData.nama_aset;
            document.getElementById("editKategori").value = dataasetData.jenis_aset;
            document.getElementById("editJumlah").value = dataasetData.jumlah;
            document.getElementById("editSpesifikasi").value = dataasetData.spesifikasi;
            const photoLink = document.createElement('a');
            photoLink.href = `/uploads/${dataasetData.foto}`;
            photoLink.target = '_blank';
            photoLink.textContent = dataasetData.foto;
            photoLink.style.color = 'blue';
            
            const editFotoFilenameSpan = document.getElementById("editFotoFilename");
            editFotoFilenameSpan.innerHTML = '';
            editFotoFilenameSpan.appendChild(photoLink);
            document.getElementById("editDataasetForm").setAttribute("action", `/kalab/edit-dataaset/${id}`);
            document.getElementById("editModal").style.display = "block";
        } catch (error) {
            console.error('Error fetching dataaset data:', error);
            showNotification('Error fetching dataaset data: ' + error.message);
            closeModalEdit();
        }
    }

    function closeModalEdit() {
            document.getElementById("editModal").style.display = "none";
        }

        function showNotification(message) {
            const notification = document.getElementById('notification');
            notification.innerText = message;
            notification.style.display = 'block';
            notification.style.backgroundColor = '#f8d7da'; 
            notification.style.color = '#721c24'; 
            notification.style.padding = '10px';
            notification.style.margin = '10px 0';
            notification.style.borderRadius = '5px';
        }

        const urlParams = new URLSearchParams(window.location.search);
        const errorMessage = urlParams.get('error');
        if (errorMessage) {
            showNotification(errorMessage);
        }
    </script>