<%- include("../layouts/header.ejs" )%>
<%- include("../layouts/sidebarKalab.ejs") %>

<!-- ========== MAIN ========== -->
<main class="content">
    <div class="header-content">
        <h3>Daftar Pengajuan Pembelian Aset</h3>
        <button class="button-tambah" onclick="openModalTambah()">Tambah Pengajuan</button>
    </div>

    <div class="header-content">
        <p>Ket: Harga yang digunakan masih bersifat perkiraan, belum harga tetap.</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Aset</th>
                <th>Jumlah</th>
                <th>Harga</th>
                <th>Total Harga</th>
                <th>Tujuan</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <% pengajuans.forEach((pengajuan, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= pengajuan.nama_aset %></td>
                <td><%= pengajuan.jumlah %></td>
                <td><%= pengajuan.harga %></td>
                <td><%= pengajuan.total_harga %></td>
                <td><%= pengajuan.tujuan %></td>
                <td><%= pengajuan.status %></td>
                <td>
                    <div style="display: inline-block;">
                        <button class="button-edit">Edit</button>
                        <form id="deleteAsetForm-<%= pengajuan.id %>" action="/kalab/pengajuan/delete/<%= pengajuan.id %>" method="post" style="display: inline-block; margin-left: -5px;">
                            <button class="button-hapus" onclick="return confirm('Apakah Anda yakin ingin menghapus aset ini?')">Hapus</button>
                        </form>
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
        
    <!-- The Modal untuk Tambah Aset -->
    <div id="tambahModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModalTambah()">&times;</span>
            <h3 class="center-text">Tambah Data Pembelian</h3>
            <form id="tambahAsetForm" action="/kalab/pengajuan/tambah" method="post">
                <!-- Form tambah aset -->
                <div class="form-group">
                    <label for="namaAset">Nama Aset:</label>
                    <input type="text" id="namaAset" name="nama_aset" required>                   
                </div>
                <div class="form-group">
                    <label for="jumlah">Jumlah:</label>
                    <input type="number" id="jumlah" name="jumlah" required>
                </div>
                <div class="form-group">
                    <label for="harga">Harga:</label>
                    <input type="number" id="harga" name="harga" required>
                </div>
                <div class="form-group">
                    <label for="totalHarga">Total Harga:</label>
                    <input type="number" id="totalHarga" name="total_harga" required>
                </div>
                <div class="form-group">
                    <label for="tujuan">Tujuan:</label>
                    <input type="text" id="tujuan" name="tujuan" required>
                </div>
                <div class="form-group">
                    <label for="status">Status:</label>
                    <input type="text" id="status" name="status" required>
                </div>
                <button type="submit">Tambah</button>
            </form>
        </div>
    </div>
</script>
<%- include("../layouts/footer.ejs") %>
