<%- include("../layouts/header.ejs" )%>
<%- include("../layouts/sidebarKalab.ejs") %>

<!-- ========== MAIN ========== -->
<main class="content">
    <div class="header-content">
        <h3>Daftar Pengajuan Pembelian Aset</h3>
        <a href="/kalab/addpengajuan"><button class="button-tambah" onclick="openModalTambah()">Tambah Pengajuan</button></a>
    </div>

    <div class="header-content">
        <p>Ket: Harga yang digunakan masih bersifat perkiraan, belum harga tetap.</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Aset</th>
                <th>Jumlah</th>
                <th>Harga</th>
                <th>Total Harga</th>
                <th>Tujuan</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <% pengajuans.forEach((pengajuan, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= pengajuan.nama_aset %></td>
                <td><%= pengajuan.jumlah %></td>
                <td><%= pengajuan.harga %></td>
                <td><%= pengajuan.total_harga %></td>
                <td><%= pengajuan.tujuan %></td>
                <td><%= pengajuan.status %></td>
                <td>
                    <div style="display: inline-block;">
                        <form action="/kalab/hapus-pengajuan/<%= pengajuan.id %>" method="post" style="display: inline-block; margin-left: -5px;">
                            <button class="button-hapus" onclick="return confirm('Apakah Anda yakin ingin menghapus aset ini?')">Hapus</button>
                        </form>
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
        
<%- include("../layouts/footer.ejs") %>
