<%- include("../layouts/header.ejs") %>
<%- include("../layouts/sidebarKadep.ejs") %>

<main class="content">
    <div class="header-content">
        <h3>Aset Laboratorium </h3>
    </div>

    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama Lab</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <% labs.forEach((lab, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= lab.nama_lab %></td>
                <td>
                    <div style="display: inline-block;">
                        <a class="button-lihat" href="/kadep/lihataset/<%= lab.id %>">Lihat Aset</a>
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</main>

<%- include("../layouts/footer.ejs") %>
